@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__logo{
    padding: 10px 23px;
    display: flex;
    justify-content: space-between;
}

.div__sectionlogo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .8em;
    letter-spacing: 0.2em;
    color: var(--color-1);
    font-family: "Bold";
}

.section__logo .div__sectionlogo img{
    width: 33px;
    height: 33px;
}

.div__lines img {
    width: 34px;
    height: 34px;
}

.tips {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 23px;
}

.tips__title {
    font-family: "bold";
    font-size: 1.34rem;
    color: var(--color-1);
}

.article__tips {
    background: white;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    padding-left: 150px;
    height: 140px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--color-3);
}

.green__circle {
    background: #E1FFEF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    border-radius: 50%;
    position: absolute;
    height: 290.5px;
    width: 290.5px;
    top: -70px;
    left: -154px;
}

.green__circle img {
    width: 100px;
    height: 100px;
}

.tip__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.tip__info p {
    font-family: "bold";
    font-size: 1.1rem;
    color: var(--color-1);
}

.tip__info span {
    font-family: "Regular";
    font-family: "Medium";
    font-size: .8rem;
    color: grey;
}

button {
    color: white;
    background: var(--color-2);
    border: none;
    font-family: "Bold";
    font-size: .6rem;
    height: 30px;
    width: 112px;
    border-radius: 40px;
    margin-top: 4px;
}

.x__button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
}

.section__cards {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 15px;
}

.cards__title {
    margin-left: 23px;
    font-family: "bold";
    font-size: 1.34rem;
    color: var(--color-1);
}

.article__allcards {
    margin-top: 15px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 80px;
    display: flex;
    overflow-x: scroll;
    width: auto;
    gap: 30px;
}


.article__allcards section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px 15px 0px;
    width: 200px;
    height: 311px;
    color: white;
    border-radius: 20px;
}

.chip__num {
    display: flex;
    justify-content: space-between;
    padding: 0px 17px;
    font-family: "Semibold";
    font-size: .8rem;
}

.chip__num img {
    width: 22px;
}

.money {
    display: flex;
    justify-content: center;
    font-family: "Bold";
    font-size: 1.7rem;
}

.money span {
    font-size: 1.2rem;
}

.bank__logo {
    padding-left: 17px;
}

.bank__logo img {
    width: 40px;
}

.card1 {
    position: relative;
    background: var(--color-1);
    overflow: hidden;
}

.card1 > img{
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 311px;
    top: 0;
}

.card2 {
    position: relative;
    background: rgb(154, 158, 168);
    overflow: hidden;
}

.card2 > img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 311px;
    top: 0;
}







.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer__ul {
    background: var(--color-1);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer__ul li a img{
    width: 35px;
    height: 35px;
    position: relative;
}

.footer__ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.footer__ul li a img:nth-child(2){
    width: 6px;
    height: 6px;
}

