@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: var(--color-1);
}

.section__logo{
    padding: 13px 23px;
    display: flex;
    justify-content: space-between;
}

.div__sectionlogo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .8em;
    color: white;
    font-family: "Bold";
}

.section__logo .div__sectionlogo img{
    width: 23px;
    height: 23px;
}

.div__lines img {
    width: 34px;
    height: 34px;
}

.section__text {
    color: white;
    padding: 15px 23px;
    font-size: 1.7em;
}

.section__text h2{
   font-family: "Heavy";
}

.section__text p{
    font-family: "Light";
    font-size: 1.2em;
 }















.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer__ul {
    background: var(--color-1);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer__ul li a img{
    object-fit: contain;
    width: 35px;
    height: 35px;
}



