@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-1);
    background-image: url(../storage/img/BG.svg);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
}

.section__logo{
    padding: 10px 23px;
    display: flex;
    justify-content: space-between;
}

.div__sectionlogo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: .8em;
    letter-spacing: 0.2em;
    color: white;
    font-family: "Bold";
}

.section__logo .div__sectionlogo img{
    width: 23px;
    height: 23px;
}

.div__lines img {
    width: 34px;
    height: 34px;
}

.section__text {
    color: white;
    padding: 10px 23px;
    font-size: 1.5em;
}

.section__text h2{
   font-family: "Heavy";
}

.section__text p{
    font-family: "Light";
    font-size: 1.49em;
 }

.section__savingsassets {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 23px;
 }

.section__savingsassets div {
    position: relative;
    font-family: "Medium";
 }

.section__savingsassets div p {
    font-size: .7em;
    margin-top: 5px;
 }

.section__savingsassets div p strong {
    font-size: 2em;

 }

 .section__savingsassets div span {
    font-size: .8em;
}

.assets span, .assets p {
    margin-left: 10px;
}

.progress1 {
    width: 150px;
}

.progress2 {
    width: 150px;
}

.progress1[value] {
    --color: var(--color-2);
 }

progress[value] {
    --color: var(--color-3);
    --background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 1em;
    background: var(--background);
    height: 7px;
  }
  progress[value]::-webkit-progress-bar {  
    border-radius: 1em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 1em;
    background: var(--color);
  }
 
main {
    background: white;
    width: 100vw;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-bottom: 60px;
}

.Activities {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-family: "bold";
    font-size: 1.3rem;
    color: var(--color-1);
    padding-right: 23px;
}       

.div__activities {
    padding-left: 23px;
}


.Activities ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-y: hidden;
    padding: 10px 6px 23px 23px;
}

.Activities ul li {
    list-style: none;
}

.Activities ul li div {
    width: 26vw;
    height: 22vh;
    font-family: "Semibold";
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--color-1);
    font-size: 1rem;
    box-shadow: 0px 0px 10px var(--color-3);
}

.transactions__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: scroll;
    height: 250px;
}

.transactions__title {
    padding: 0px 23px 23px 23px;
    font-family: "bold";
    font-size: 1.3rem;
    color: var(--color-1);
}

.article__movement {
    display: flex;
    justify-content: space-between;
    padding: 0px 23px;
    height: 65px;
}

.article__leftside {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Bold";
    font-size: 1.1rem;
    color: var(--color-1);
}

.article__leftside span {
    color: gray;
    font-size: .8rem;
    font-family: "Medium";
}

.data__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-family: "Bold";
    font-size: 1.1rem;
    color: var(--color-1);
}

.data__info span {
    color: gray;
    font-size: .8rem;
    font-family: "Medium";
}















.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer__ul {
    background: var(--color-1);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer__ul li a img{
    object-fit: contain;
    width: 35px;
    height: 35px;
}



