<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <header class="header">
        <img src="../storage/img/bgP3.svg">
        <section class="section__logo">
            <div class="div__sectionlogo">
                <img src="../storage/img/logo.png">
                <h3>INVETO</h3>
            </div>
            <div class="div__lines">
                <img src="../storage/img/lines.svg">
            </div>
        </section>
    </header>




</body>
<footer class = "footer">
    <ul class = "footer__ul">
        <li>
            <a href="#">
                <img src="../storage/img/homeIcon.svg">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../storage/img/walletIcon.svg">
            </a>
        </li>
        <li>
            <a href="../views/menu.html">
                <img src="../storage/img/menuIcon.svg">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../storage/img/bellIcon.svg">
            </a>
        </li>
        <li>
            <a href="../index.html">
                <img src="../storage/img/profileIcon.svg">
            </a>
        </li>
    </ul>
</footer>
</html>