<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Menu</title>
</head>
<body>
    
</body>
<footer class = "footer">
    <ul class = "footer__ul">
        <li>
            <a href="#">
                <img src="../storage/img/homeIcon.svg">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../storage/img/walletIcon.svg">
            </a>
        </li>
        <li>
            <a class="greenIcon" href="#">
                <img class="greenIcon" src="../storage/img/menuGreenIcon.svg">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../storage/img/bellIcon.svg">
            </a>
        </li>
        <li>
            <a href="../index.html">
                <img src="../storage/img/profileIcon.svg">
            </a>
        </li>
    </ul>
</footer>
</html>