<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Menu</title>
</head>
<body>
    <header class="header">
        <section class="section__logo">
            <div class="div__sectionlogo">
                <img src="../storage/img/IconBlack.svg">
                <h3>INVETO</h3>
            </div>
            <div class="div__lines">
                <img src="../storage/img/linesBlack.svg">
            </div>
        </section>
    </header>
    <main class="main">
        <section class="tips">
            <p class="tips__title">Investing Tips</p>
            <div class="Investing__Tips__Scroll">
                <article class="article__tips">
                    <div class="green__circle">
                        <img src="../storage/img/addIcon.svg">
                    </div>
                    <div class="tip__info">
                        <p>What is an ETF?</p>
                        <span>By James B, PHD</span>
                        <button>LEARN MORE</button>
                    </div>
                    <img class="x__button" src="../storage/img/closeIcon.svg">
                </article>
                <article class="article__tips">
                    <div class="green__circle">
                        <img src="../storage/img/addIcon.svg">
                    </div>
                    <div class="tip__info">
                        <p>What is an ETF?</p>
                        <span>By James B, PHD</span>
                        <button>LEARN MORE</button>
                    </div>
                    <img class="x__button" src="../storage/img/closeIcon.svg">
                </article>
            </div>
        </section>
        <section class="section__cards">
            <p class="cards__title">My Cards (4)</p>
        </section>
        <article class="article__allcards">
            <section>
                <div class="card1">
            
                    <div class="chip__num">
                        <img src="../storage/img/chipIcon.svg">
                        <p>**** 6175</p>
                    </div>
                    
                    <div class="money">
                        <p><span>$ </span>47,417</p>
                    </div>
                    
                    <div class="bank__logo">
                        <img src="../storage/img/bank1Icon.svg">
                    </div>
                </div>
            </section>
            <section>
                <div class="card2">
                    <div class="chip__num">
                        <img src="../storage/img/chipIcon.svg">
                        <p>**** 5789</p>
                    </div>
                    
                    <div class="money">
                        <p><span>$ </span>584,466</p>
                    </div>
                    
                    <div class="bank__logo">
                        <img src="../storage/img/bank2Icon.svg">
                    </div>
                </div>
            </section>
            <section>
                <div class="card3">
                    <div class="chip__num">
                        <img src="../storage/img/chipIcon.svg">
                        <p>**** 0142</p>
                    </div>
                    
                    <div class="money">
                        <p><span>$ </span>878,124</p>
                    </div>
                    
                    <div class="bank__logo">
                        <img src="../storage/img/bank1Icon.svg">
                    </div>
                </div>
            </section>
            <section>
                <div class="card4">
                    <div class="chip__num">
                        <img src="../storage/img/chipIcon.svg">
                        <p>**** 9133</p>
                    </div>
                    
                    <div class="money">
                        <p><span>$ </span>77,466</p>
                    </div>
                    
                    <div class="bank__logo">
                        <img src="../storage/img/bank2Icon.svg">
                    </div>
                </div>
            </section>
        </article>
    </main>


</body>
<footer class = "footer">
    <ul class = "footer__ul">
        <li>
            <a href="#">
                <img src="../storage/img/homeIcon.svg">
            </a>
        </li>
        <li>
            <a href="../views/balance.html">
                <img src="../storage/img/walletIcon.svg">
            </a>
        </li>
        <li>
            <a class="greenIcon" href="#">
                <img src="../storage/img/GreenMenu.svg">
                <img src="../storage/img/Ellipse 2.svg">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../storage/img/bellIcon.svg">
            </a>
        </li>
        <li>
            <a href="../index.html">
                <img src="../storage/img/profileIcon.svg">
            </a>
        </li>
    </ul>
</footer>
</html>